.TaskRow {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 4fr 3fr 2fr;
  margin: 5px 0;
  border-bottom: 1px solid #ccc;
}

.Button {
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}